#TP3

Base de dados de uma empresa de Telecom que oferta diversos serviços, entre os principais: internet e telefone.

Ao analisar o histórico dos clientes dos últimos anos percebe-se que a empresa está com Churn (taxa de cancelamento) de mais de 26% dos clientes. O trabalho consiste em encontrar uma (ou mais regras) que seja o mais acurada possível para determinar os clientes com churn (os clientes que cancelaram). Deve-se utilizar algoritmos genéticos ou programação genética para encontrar tal regra.

Link no Kaggle: https://www.kaggle.com/radmirzosimov/telecom-users-dataset

In [3]:
# Passo 0: Ler o arquivo csv
# from google.colab import files
# uploaded = files.upload()
# file_name = next(iter(uploaded))

In [4]:
# Passo 1: Importar a base de dados

import pandas as pd
# gfile_name = io.StringIO(uploaded[file_name].decode('ISO 8859-1').strip())
from IPython.core.display import display

tabela = pd.read_csv("telecom_users.csv")
display(tabela)

,Unnamed: 0,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,1869,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,4528,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,6344,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6739,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,432,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,3772,0684-AOSIH,Masculino,0,Sim,Nao,1,Sim,Nao,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,95.00,95,Sim,NaN
5982,5191,5982-PSMKW,Feminino,0,Sim,Sim,23,Sim,Sim,DSL,...,Sim,Sim,Sim,2 anos,Sim,CartaoCredito,91.10,2198.3,Nao,NaN
5983,5226,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN
5984,5390,7450-NWRTR,Masculino,1,Nao,Nao,12,Sim,Sim,Fibra,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,99.45,1200.15,Sim,NaN
5985,860,4795-UXVCJ,Masculino,0,Nao,Nao,26,Sim,Nao,Nao,...,SemInternet,SemInternet,SemInternet,Anual,Nao,CartaoCredito,19.80,457.3,Nao,NaN

In [5]:
# Passo 2: Visualizar a base de dados
# Entender quais informações estão disponíveis
# Retirada da primeira coluna
tabela = tabela.drop("Unnamed: 0", axis=1)  # 0 é linha e 1 é coluna
display(tabela)

,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,ServicoSegurancaOnline,...,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn,Codigo
0,7010-BRBUU,Masculino,0,Sim,Sim,72,Sim,Sim,Nao,SemInternet,...,SemInternet,SemInternet,SemInternet,2 anos,Nao,CartaoCredito,24.10,1734.65,Nao,NaN
1,9688-YGXVR,Feminino,0,Nao,Nao,44,Sim,Nao,Fibra,Nao,...,Nao,Sim,Nao,Mensal,Sim,CartaoCredito,88.15,3973.2,Nao,NaN
2,9286-DOJGF,Feminino,1,Sim,Nao,38,Sim,Sim,Fibra,Nao,...,Nao,Nao,Nao,Mensal,Sim,DebitoAutomatico,74.95,2869.85,Sim,NaN
3,6994-KERXL,Masculino,0,Nao,Nao,4,Sim,Nao,DSL,Nao,...,Nao,Nao,Sim,Mensal,Sim,BoletoEletronico,55.90,238.5,Nao,NaN
4,2181-UAESM,Masculino,0,Nao,Nao,2,Sim,Nao,DSL,Sim,...,Nao,Nao,Nao,Mensal,Nao,BoletoEletronico,53.45,119.5,Nao,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,0684-AOSIH,Masculino,0,Sim,Nao,1,Sim,Nao,Fibra,Sim,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,95.00,95,Sim,NaN
5982,5982-PSMKW,Feminino,0,Sim,Sim,23,Sim,Sim,DSL,Sim,...,Sim,Sim,Sim,2 anos,Sim,CartaoCredito,91.10,2198.3,Nao,NaN
5983,8044-BGWPI,Masculino,0,Sim,Sim,12,Sim,Nao,Nao,SemInternet,...,SemInternet,SemInternet,SemInternet,Mensal,Sim,BoletoEletronico,21.15,306.05,Nao,NaN
5984,7450-NWRTR,Masculino,1,Nao,Nao,12,Sim,Sim,Fibra,Nao,...,Nao,Sim,Sim,Mensal,Sim,BoletoEletronico,99.45,1200.15,Sim,NaN
5985,4795-UXVCJ,Masculino,0,Nao,Nao,26,Sim,Nao,Nao,SemInternet,...,SemInternet,SemInternet,SemInternet,Anual,Nao,CartaoCredito,19.80,457.3,Nao,NaN

In [6]:
# Passo 3: Tratamento da base de dados
# Valores que são números mas que o Python acha que são texto
tabela["TotalGasto"] = pd.to_numeric(tabela["TotalGasto"], errors="coerce")

# Valores que estão vazios
# colunas vazias
# any para excluir colunas que tem PELO MENOS 1 valor vazio
# all para excluir colunas COMPLETAMENTE vazias
tabela = tabela.dropna(how="all", axis=1)

# linhas vazias
tabela = tabela.dropna(how="any", axis=0)

# note que a limpeza excluiu 12 registros
print(tabela.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5974 entries, 0 to 5985
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   IDCliente               5974 non-null   object
 1   Genero                  5974 non-null   object
 2   Aposentado              5974 non-null   int64
 3   Casado                  5974 non-null   object
 4   Dependentes             5974 non-null   object
 5   MesesComoCliente        5974 non-null   int64
 6   ServicoTelefone         5974 non-null   object
 7   MultiplasLinhas         5974 non-null   object
 8   ServicoInternet         5974 non-null   object
 9   ServicoSegurancaOnline  5974 non-null   object
 10  ServicoBackupOnline     5974 non-null   object
 11  ProtecaoEquipamento     5974 non-null   object
 12  ServicoSuporteTecnico   5974 non-null   object
 13  ServicoStreamingTV      5974 non-null   object
 14  ServicoFilmes           5974 non-null   object
 15  TipoContrato            5974 non-null   object
 16  FaturaDigital           5974 non-null   object
 17  FormaPagamento          5974 non-null   object
 18  ValorMensal             5974 non-null   float64
 19  TotalGasto              5974 non-null   float64
 20  Churn                   5974 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.0+ MB
None

In [34]:
# Passo 4: Análise Exploratória -> Análise Geral -> Ver como estão os cancelamentos

display(tabela["Churn"].value_counts())
display(tabela["Churn"].value_counts(normalize=True).map("{:.1%}".format))
tabela.to_csv("new_data.csv")

Nao    4387
Sim    1587
Name: Churn, dtype: int64

Nao    73.4%
Sim    26.6%
Name: Churn, dtype: object

# Alterações

* **Genero(Binario)**
    * Masculino = 1
    * Feminino = 0
* **Aposentado(Binario)**
    * Sim = 1
    * Nao = 0
* **Casado(Binario)**
    * Sim = 1
    * Nao = 0
* **Dependentes(Binario)**
    * Sim = 1
    * Nao = 0
* **MesesComoCliente(Inteiro)**
* **ServicoTelefone(Binario)**
    * Sim = 1
    * Nao = 0
* **MultiplasLinhas(Multi)**
    * Sim = 1
    * Nao = 0
    * SemTelefone = 3
* **ServicoInternet(Multi)**
    * Nao = 0
    * Fibra = 1
    * DSL = 3
* **ServicoSegurancaOnline(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **ServicoBackupOnline(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **ProtecaoEquipamento(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **ServicoSuporteTecnico(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **ServicoStreamingTV(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **ServicoFilmes(Multi)**
    * Sim = 1
    * Nao = 0
    * SemInternet = 3
* **TipoContrato(Multi)**
    * Mensal = 1
    * 2 anos = 0
    * Anual = 3
* **FaturaDigital(Binario)**
    * Sim = 1
    * Nao = 0
* **FormaPagamento(Multi)**
    * BoletoEletronico = 0
    * BoletoImpresso = 1
    * DebitoAutomatico = 3
    * CartaoCredito = 4
* **ValorMensal(Real)** Done
* **TotalGasto(Real)** Done

In [44]:
from typing import List


def to_numeric(order: List, df_column: pd.Series):
    dict_format = {name: i for i, name in enumerate(order)}
    return df_column.map(dict_format)

In [45]:
# Criando copia da tabela modificada pelo professor
cpy_tabela = tabela.copy()
# Normalizando os valores de cada column necessaria
cpy_tabela["Genero"] = to_numeric(["Feminino", "Masculino"], cpy_tabela["Genero"])
cpy_tabela["Casado"] = to_numeric(["Nao", "Sim"], cpy_tabela["Casado"])
cpy_tabela["Dependentes"] = to_numeric(["Nao", "Sim"], cpy_tabela["Dependentes"])
cpy_tabela["ServicoTelefone"] = to_numeric(["Nao", "Sim"], cpy_tabela["ServicoTelefone"])
cpy_tabela["MultiplasLinhas"] = to_numeric(["Nao", "Sim", "SemTelefone"], cpy_tabela["MultiplasLinhas"])
cpy_tabela["ServicoInternet"] = to_numeric(["Nao", "Fibra", "DSL"], cpy_tabela["ServicoInternet"])
cpy_tabela["ServicoSegurancaOnline"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ServicoSegurancaOnline"])
cpy_tabela["ServicoBackupOnline"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ServicoBackupOnline"])
cpy_tabela["ProtecaoEquipamento"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ProtecaoEquipamento"])
cpy_tabela["ServicoSuporteTecnico"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ServicoSuporteTecnico"])
cpy_tabela["ServicoStreamingTV"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ServicoStreamingTV"])
cpy_tabela["ServicoFilmes"] = to_numeric(["Nao", "Sim", "SemInternet"], cpy_tabela["ServicoFilmes"])
cpy_tabela["TipoContrato"] = to_numeric(["2 anos", "Mensal", "Anual"], cpy_tabela["TipoContrato"])
cpy_tabela["FaturaDigital"] = to_numeric(["Nao", "Sim"], cpy_tabela["FaturaDigital"])
cpy_tabela["FormaPagamento"] = to_numeric(["BoletoEletronico", "BoletoImpresso", "DebitoAutomatico", "CartaoCredito"], cpy_tabela["FormaPagamento"])
cpy_tabela["Churn"] = to_numeric(["Nao", "Sim"], cpy_tabela["Churn"])

In [46]:
cpy_tabela

,IDCliente,Genero,Aposentado,Casado,Dependentes,MesesComoCliente,ServicoTelefone,MultiplasLinhas,ServicoInternet,ServicoSegurancaOnline,...,ProtecaoEquipamento,ServicoSuporteTecnico,ServicoStreamingTV,ServicoFilmes,TipoContrato,FaturaDigital,FormaPagamento,ValorMensal,TotalGasto,Churn
0,7010-BRBUU,1,0,1,1,72,1,1,0,2,...,2,2,2,2,0,0,3,24.10,1734.65,0
1,9688-YGXVR,0,0,0,0,44,1,0,1,0,...,1,0,1,0,1,1,3,88.15,3973.20,0
2,9286-DOJGF,0,1,1,0,38,1,1,1,0,...,0,0,0,0,1,1,2,74.95,2869.85,1
3,6994-KERXL,1,0,0,0,4,1,0,2,0,...,0,0,0,1,1,1,0,55.90,238.50,0
4,2181-UAESM,1,0,0,0,2,1,0,2,1,...,1,0,0,0,1,0,0,53.45,119.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5981,0684-AOSIH,1,0,1,0,1,1,0,1,1,...,0,0,1,1,1,1,0,95.00,95.00,1
5982,5982-PSMKW,0,0,1,1,23,1,1,2,1,...,1,1,1,1,0,1,3,91.10,2198.30,0
5983,8044-BGWPI,1,0,1,1,12,1,0,0,2,...,2,2,2,2,1,1,0,21.15,306.05,0
5984,7450-NWRTR,1,1,0,0,12,1,1,1,0,...,1,0,1,1,1,1,0,99.45,1200.15,1
5985,4795-UXVCJ,1,0,0,0,26,1,0,0,2,...,2,2,2,2,2,0,3,19.80,457.30,0

In [47]:
cpy_tabela.to_csv("clean_table.csv")